{% extends '::base.html.twig' %}
{% block outside_container %}
    {% if jumbo is not defined %}
        <div class="jumbotron">
            <div class="container">
                <h1>{% block title %}Name{% endblock %}</h1>
                <p>{% block explain_text %}{% endblock %}</p>


                {% for type, messages in app.session.flashbag.all() %}
                    {% for key, message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                {% endif %}

            </div>
        </div>
    {% else %}
        Can't define a jumbo block with a FOS user page...
    {% endif %}
{% endblock %}